<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/" id="nav">HOME</a>
        |
        <a href="/flights" id="nav">ALL FLIGHTS</a>
        |
        <a href="/flights/new" id="nav">ADD FLIGHT</a>
    </nav>
    <h1>Mongoose Flights</h1>


