<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/flights">ALL FLIGHTS</a>
    </nav>
    <h1>Mongoose</h1>
    <p>Welcome to Mongoose Flights</p>

