* {
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://imgur.com/qnkO2tZ.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: rgb(0, 35, 52);
  position: absolute;
}

a {
  color: #00B7FF;
}
table, th, td {
  border: 1px solid grey;
}
th {
  color: whitesmoke;
}
tbody tr:nth-child(odd) {
  background-color: #33eeff;
}

tbody tr:nth-child(even) {
  background-color: #95cee4;
}

/* tbody tr {
  background-image: url(noise.png);
} */

table {
  background-color: #338bff;
}
#details {
  color: green;
}
h1, h2, p, nav, h5, #ticketDiv {
  color: whitesmoke;
}
label {
  color: whitesmoke;
}
#nav, #newTicket {
  background-color: #00B7FF;
  padding: 10px;
  color: white;
  border-radius: 20%;
  font-weight: bolder;
  font-size: larger;
  text-decoration: none;
  border: 2px solid rgb(107, 107, 107);
}
#nav:hover, #addBtn:hover, button:hover {
  background-color: lightgrey;
  color: #00B7FF;
}
button {
  color: whitesmoke;
  background-color: #00B7FF;
  border-radius: 20%;
  height: 50px;
  width: 100px;
  font-size: larger;
}
#addBtn {
  color: whitesmoke;
  background-color: #00B7FF;
  border-radius: 20%;
  height: 50px;
  width: 250px;
  font-size: larger;
}
#add-ticket-form, #newDiv, .badge {
  color: whitesmoke;
}